<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      padding: 30px;
      margin-top: 100px;
      font-size: 35px;
      background-color: rgb(14, 14, 56);
      color: white;
    }
  </style>
  <body>
    Name: <%= name %> <br />
    ParentsName: <%= parentsname %> <br />
    email: <%= email %> <br />
    Phone: <%= phone %> <br />
    WhatsApp: <%= whatsapp %> <br />
    Registration No: <%= regN %> <br />
    <br />Please contact on the following number for further information. <br />
    +91 8822341175
  </body>
</html>
