<html>
    <head></head>
    <body>
      <a
      style="
        text-decoration: none;
        color: white;
        border-radius: 15px;
        padding: 5px;
        font-size: 20px;
        background-color: red;
        margin-bottom: 20px;
      "
      href="/superadmin/acc"
      >Superadmin Home</a
    >
<h1> Edit Faculty Member </h1>
<form method = "POST" action="/superadmin/faculty/edit/<%= person._id %>">
  
  <label for="lname">Name:</label><br>
  <input type="text" id="lname" name="name" value = <%= person.name %>><br><br>
  <label for="lname">Email:</label><br>
  <input type="email" id="lname" name="email" value = <%= person.email %>><br><br>
  <label for="lname">Contact Number:</label><br>
  <input type="text" id="lname" name="contact" value = <%= person.contact %>><br><br>

  <input type="submit" value="Submit">
</form> 


<input type="submit" class="death" value="Delete Faculty" data-id = <%= person._id %>></button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> 
        $(document).ready(function(){
        $(".death").click(function(){
        if (confirm("Sure you want to delete?")) {
        var extension = $(".death").attr('data-id'); 
        console.log(extension);
        $.ajax({url: "/superadmin/faculty/edit/" + extension,type:'DELETE',  success: function(result){
        window.location.href='/superadmin/faculty/';
        }});
        } else {
        }
        });
        });
        </script>
    </body>

    </html>