<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- body font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/css/studentPortal.css" /> -->
    <title>Student Portal | Pragati Classes</title>
  </head>
  <style>
    * {
      box-sizing: border-box;
      font-size: 62.5%;
    }

    html {
      overflow-x: hidden !important;
    }

    body {
      box-sizing: inherit;
      padding: 2rem;
      margin: 0;
      font-family: 'Source Serif Pro', serif;
      background-color: #c2cad0;
      background-repeat: no-repeat;
      overflow-x: hidden;
      background: linear-gradient(to bottom right, #3c4bbd 15%, transparent),
        radial-gradient(
            circle at 100% 0%,
            rgba(255, 255, 255, 0.2) 10%,
            transparent 20%
          )
          center center / 15px 15px,
        linear-gradient(to bottom right, #3c4bbd, #57add8);
    }

    /* nav-section */
    .phone__nav {
      background-color: #242582;
      color: white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 10px 10px 10px #2b2b527c;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 10;
      display: none;
    }

    .phone__nav-options-a {
      color: rgba(255, 255, 255, 0.692);
      font-size: 25px;
      padding: 0px 15px;
    }

    /* side-nav */
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 99999999999;
      top: 0;
      left: 0;
      background-color: #2b2b52;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
    }

    /* The navigation menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    /* nav-section ends */

    /* student-profile starts */
    /* for desktop */
    .student__profile {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 0.5rem;
      background-color: #116466;
      position: relative;
    }

    .student__profile__heading {
      font-size: 3.5rem;
      margin-left: 1.5rem;
      color: #fff;
      padding: 10px 0px;
      border-bottom: 1px solid #d9b08c;
    }

    .logout-btn {
      top: 42px;
      right: 30px;
      text-decoration: none;
      background-color: #124142;
      color: white;
      padding: 1rem;
      border-radius: 10px;
      font-size: 2.2rem;
      box-shadow: 5px 5px 5px #1d8688;
      position: absolute;
    }

    .student__profile__details {
      list-style: none;
      font-size: 2.5rem;
      color: #fff;
      margin: 1.5rem;
    }

    /* student-profile ends */

    /* student-main-section starts */

    .student__main-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    .student__main-section-option {
      height: 200px;
      width: 200px;
      font-size: 25px;
      background-color: #758aa2;
      margin: 35px 50px;
      color: #260b0b;
      font-weight: 800;
      letter-spacing: 2px;
      text-decoration: none;
      border-radius: 15px;
      text-align: center;
      padding: 20px 0;
      border: 2.5px solid #192a56;
      offset: 2rem;
      box-shadow: 10px 10px 10px #116466;
      transition: all 0.2s;
    }

    .student__main-section-option:hover {
      transform: scale(1.05);
    }

    .subjects {
      background: url(../assets/images/subjects.jpg);
    }

    .classroom {
      background: url(../assets/images/classroom.jpg);
    }

    .meeting {
      background: url(../assets/images/meeting.jpg);
    }

    .gmail{
      background: url(../assets/images/gmail.jpg);
    }

    .notebook {
      background: url(../assets/images/notebook.jpg);
    }

    .calender {
      background: url(../assets/images/calender.jpg);
    }

    .notice {
      background: url(../assets/images/notice.jpg);
    }

    .divider {
      margin-top: 50px;
      margin-bottom: 50px;
      border-bottom: 2px solid #116466;
    }

    .anchor-card {
      text-decoration: none;
    }

    .exam-card {
      height: 300px;
      width: 300px;
      font-size: 30px;
      margin: 50px;
      border-radius: 10px;
      text-decoration: none;
    }

    .student__practice-one {
      display: flex;
      justify-content: center;
    }

    .student__practice-two {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 100px;
    }

    .student__practice-one-1-title {
      background-color: #116466;
      color: white;
      text-align: center;
      padding: 10px;
      font-size: 25px;
      border-radius: 10px;
    }

    .student__practice-one-1-pic {
      border-radius: 10px;
    }

    .main-img {
      border-radius: 10px;
      margin-bottom: 10px;
    }

    @media (max-width: 1000px) {
      .student__practice-one {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }

    @media (max-width: 500px) {
      .student__main-section-option {
        height: 160px;
        width: 160px;
        margin: 30px 2px;
      }

      .first {
        margin-bottom: 100px;
      }

      .phone__nav {
        display: flex;
      }

      .student__profile__heading {
        font-size: 2.5rem;
      }

      .logout-btn {
        font-size: 1.5rem;
        top: 3.5rem;
        right: 1.5rem;
      }
    }

    /* complaint box */
    .student-complaint {
      margin-bottom: 50px;
    }

    .student-complaint .complaint-box {
      font-family: "El Messiri", sans-serif;
    }

    /* mobile view */
    @media (max-width: 750px) {
      .student-complaint .complaint-box {
        width: 300px;
        height: 100px;
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 5px;
        margin-top: 10px;
        border-radius: 5px;
      }

      .student-complaint .complaint-label {
        font-size: 15px;
        font-weight: 600;
        margin-left: 5px;
        margin-bottom: 5px;
      }

      #complaint-button {
        width: 100px;
        height: 35px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        /* margin-left: -100px; */
        background-color: #02b82c;
        border-radius: 5px;
      }

      #req-email {
        width: 125px;
        height: 35px;
        font-size: 18px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 65px;
      }

      #req-email option {
        width: 80px;
        height: 20px;
        font-size: 18px;
        border-radius: 5px;
        font-weight: bold;
      }
    }

    /* mobile view ends */
    /* desktop view */
    @media (min-width: 750px) {
      .student-complaint .complaint-box {
        width: 700px;
        height: 100px;
        font-size: 18px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
      }

      .student-complaint .complaint-label {
        font-size: 20px;
        font-weight: 600;
        margin-left: 50px;
        margin-bottom: 5px;
      }

      #complaint-button {
        width: 130px;
        height: 40px;
        font-size: 18px;
        color: white;
        /* margin-left: -130px; */
        background-color: #02b82c;
        border-radius: 5px;
        font-weight: bold;
      }

      #req-email {
        width: 125px;
        height: 35px;
        font-size: 18px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 50px;
        margin-right: 450px;
      }

      #req-email option {
        width: 90px;
        height: 20px;
        font-size: 18px;
        border-radius: 5px;
        font-weight: bold;
      }
    }

    /* desktop view ends */

    /* complaint box ends here */
  </style>

  <body>
    <!-- nav-bar -->
    <div class="phone__nav">
      <div class="phone__nav-options">
        <a onclick="openNav()" href="#">
          <i class="phone__nav-options-a fa fa-bars"></i>
        </a>
        <a href="/">
          <i class="phone__nav-options-a fa fa-home"></i>
        </a>

        <a href="http://pc.unnamedcreators.in/home">
          <i class="phone__nav-options-a fa fa-graduation-cap"></i>
        </a>
        <a href="./noticeBoard.html">
          <i class="phone__nav-options-a fa fa-bell"></i>
        </a>
      </div>
    </div>

    <!-- sidenav -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="./mediaGallery.html">Media</a>
      <a href="./mainCenter.html">Main Center</a>
      <a href="./founders.html">Founders</a>
      <a href="./generalDoubts.html">General Doubts</a>
      <a href="./resources.html">Resources</a>
      <a href="./upcomingEvents.html">Upcoming Events</a>
      <a href="./aboutUs.html">About Us</a>
      <a href="./faq.html">FAQ</a>
    </div>

    <!-- student-details -->
    <div class="student__profile">
      <p class="student__profile__heading">Student Details</p>
      <a href="/student/logout" class="logout-btn">Logout</a>
      <li class="student__profile__details">Name: <%=user.name%></li>
      <li class="student__profile__details">Class: <%=user.email%></li>
      <li class="student__profile__details">Batch: <%=user.batch%></li>
      <li class="student__profile__details">username: <%=user.username%></li>
      <!-- <li class="student__profile__details">
        Reg no: <%= user.registration_no %>
      </li> -->
    </div>

    <!-- student-portal-main-options -->
    <div class="student__main-section">
      <a href="/student/subject" class="student__main-section-option subjects"
        >Subjects</a
      >
      <a
        href="https://classroom.google.com/"
        class="student__main-section-option classroom"
        target="_blank"
        >Classroom</a
      >
      <a
        href="https://meet.google.com/"
        class="student__main-section-option meeting"
        target="_blank"
        >Meeting</a
      >
      <a
        href="https://gmail.com/"
        class="student__main-section-option gmail"
        target="_blank"
        >Gmail</a
      >
      <a href="#" class="student__main-section-option notebook">Notebook</a>
      <a
        href="https://www.google.com/calendar/"
        class="student__main-section-option calender"
        target="_blank"
        >Calender</a
      >
      <a href="#" class="student__main-section-option notice">Notice</a>
    </div>
    <div class="divider"></div>
    <section class="student__practice">
      <div class="student__practice-one">
        <a href="http://pc.unnamedcreators.in" class="anchor-card">
          <div class="student__practice-one-1 exam-card first">
            <div class="student__practice-one-1-pic">
              <img class="main-img" src="../assets/images/exam.jpg" alt="" />
            </div>
            <div class="student__practice-one-1-title">Attempt Test</div>
          </div>
        </a>
        <a href="http://pc.unnamedcreators.in" class="anchor-card">
          <div class="student__practice-one-2 exam-card">
            <div class="student__practice-one-1-pic">
              <img
                class="main-img"
                src="../assets/images/question.jpg"
                alt=""
              />
            </div>
            <div class="student__practice-one-1-title">Practice Questions</div>
          </div>
        </a>
      </div>
      <div class="student__practice-two">
        <a href="http://pc.unnamedcreators.in" class="anchor-card">
          <div class="student__practice-one-2 exam-card">
            <div class="student__practice-one-1-pic">
              <img class="main-img" src="../assets/images/report.jpg" alt="" />
            </div>
            <div class="student__practice-one-1-title">Test Report</div>
          </div>
        </a>
      </div>
    </section>
    <!-- Student complaint section -->
    <div class="student-complaint">
      <form class="complaint-form" action="/student/complaint" method="POST">
        <label class="complaint-label" for=""
          >Do you have any complaints?</label
        >
        <br />
        <textarea
          rows="10"
          cols="200"
          class="complaint-box"
          name="complaintBox"
          placeholder="Enter complaint here..."
        ></textarea>
        <br />
        <label class="complaint-label" for="choose-email"
          >Who do you want to submit the complaint?</label
        >
        <br />
        <select id="req-email" name="reqEmail">
          <option value="director">Director</option>
          <option value="swTeam">SW Team</option>
          <option value="academics">Academics Team</option>
          <option value="technical">Technical Team</option>
        </select>
        <input type="submit" name="submit-btn" id="complaint-button" />
      </form>
    </div>
    <!-- complaint section ends -->
  </body>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</html>
