<!DOCTYPE html>
<html>

<head>
  <title>Student Chapters</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- body font -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">

</head>
<style>
  body {
    font-family: 'Source Serif Pro', serif;
  }

  /*  top navigation css starts */
  header {
    background-color: #2a3554;
  }

  .navigation {
    height: 60px;
    color: white;
    text-align: center;
  }

  #pc-logo {
    width: 60px;
    height: 60px;
  }

  .top-nav {
    margin-top: auto;
    margin-bottom: auto;
  }

  #chapter-name {
    width: 90%;

  }

  .top-nav select {
    background-color: #2a3554;
    color: white;
  }

  .top-nav select option {
    background-color: #2a3554;
    color: white;
  }

  /* top navigatin ends : all styles comleted */

  .thumbnail {
    height: 100%;
    width: 100%;
  }

  .video-div {
    margin-bottom: 100px;
    margin-top: 25px;
    height: auto;
    text-align: center;
  }

  /* notes css begins */
  .notes-list {
    margin-top: 20px;
  }

  .notes-link {
    text-decoration: none;
  }

  /* notes div css ends: processing */

  /* footer css starts */
  footer {
    height: 150px;
    background-color: #1a1717;
    color: white;
    text-align: center;
  }

  footer .footer-text {
    margin-top: 40px;
  }

  /* footer css ends */
</style>

<body>
  <!-- header starts -->
  <header>
    <div class="navigation">
      <div class="row">
        <div class="col-2 logo-div top-nav">
          <img id="pc-logo" src="pc-logo.png">
        </div>
        <div class="col-5 top-nav"> <%= chapter.chapter_name %> </div>

      </div>
    </div>
  </header>
  <!-- header ends : completed with all the designings -->


  <div class="container">

    <!-- video div start -->
    <div class="row">

      <ol>
        <% chapter.videos.forEach((video)=>{ %>
        <li>
          <div class="col-12 col-md-3 video-div">
            <a href="<%= video.link %>">
              <iframe src="<%= video.link %>" title="W3Schools Free Online Web Tutorials"></iframe>
              <img class="thumbnail" src="#" alt="Image Missing!!!">
            </a>
            <div class="video-disc">
              <h5><%=video.title%> </h5>
              <p>
                By: <%=video.faculty%> at <%=video.date%>
              </p>
            </div>
          </div>
        </li>
        <%}) %>
      </ol>

      <div class="row">
        <!--notes division starts -->
        <div class="col-12 notes-list">
          <div class="notes-div">
            <ol>
              <% chapter.notes.forEach((note)=>{ %>
              <li><a class="notes-link" href="<%=note.link%>"><%=note.title%></a></li>
              Uploaded By: <%=note.faculty%> at <%=note.date%> <%}) %>
            </ol>
          </div>
        </div>
        <!-- notes division ends -->
      </div>

    </div>
    <!-- container ends -->

    <!-- footer starts -->
    <footer>
      <div class="row">
        <div class="col-12 footer-text">
          <h5>I am Footer</h5>
          <p>@copyright</p>
        </div>
      </div>
    </footer>
    <!-- footer ends : completed -->

</body>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>